
.content {
  color: black;
  font-family: helvetica, arial;
}
h1, h2 {
  color: #c80000;
  font-family: Georgia;
  font-size: 3.25em;
}
.content::after {
  position: absolute;
  right: 120px;
  bottom: 120px;
/*  content: url("sponsors.jpg"); */
}